{:tasks {:requires ([babashka.fs :as fs])
         repl (shell "podman" "run"
                     "-v" (str (fs/cwd) ":" (fs/cwd) ":Z")
                     "-w" (fs/cwd)
                     "--mount" "type=volume,src=clojure-cpcache,target=/root/.m2"
                     "-it"
                     "clojure:tools-deps" "-M:cider-clj")
         build (shell "podman" "run"
                     "-v" (str (fs/cwd) ":" (fs/cwd) ":Z")
                     "-w" (fs/cwd)
                     "--mount" "type=volume,src=clojure-cpcache,target=/root/.m2"
                     "clojure:tools-deps-bookworm" "-M:build")}}
